@font-face {
    font-family: 'Poppins-regular';
    src: url(Poppins-Regular.ttf);
  }
  
  /*stylesheet*/
  :root {
    --primary-color: #143b41;
    --h2-color: #bfd3bf;
    --secondary-color: #e6db78;
    --accent-color: #287a62;
    --text-color: #631220;
    --background-color: #F7E1D7;
    --header-background: #B0C4B1;
    --footer-background: #B0C4B1;
    --footer-text-color: rgb(134, 58, 62);
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
  }
  
  /*Type*/
  :root {
    --font-size-base: 20px;
    --font-size-heading: 30px;
    --font-weight-regular: 300;
    --font-weight-bold: 700;
    --font-family: 'Poppins-regular', sans-serif;
    --spacing-unit: 40px;
  
  }
  
  header{
    display: flex;
    background-color: var(--header-background);
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    font-family: var(--font-family);
  }
  
  .logo img{
  width: 50px;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    gap: var(--spacing-unit);
    justify-content: space-evenly;
  }
  
  nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    }
  
  h1{
    text-align: center;
    font-family: var(--font-family);
    justify-content: center;
    
  }
  
  p{
    text-align: center;
    font-family: var(--font-family);
  
  }